In [1]:
import numpy as np
arr=np.arange(0,11)

In [2]:
import pandas as pd
labels=['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
d={'a':10,'b':20,'c':30}
pd.Series(my_data)

0    10
1    20
2    30
dtype: int64

In [3]:
pd.Series(my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [4]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [5]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [7]:
from numpy.random import randn

In [8]:
np.random.seed(101)

In [13]:
df=pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])

In [14]:
df

          w         x         y         z
a  0.386030  2.084019 -0.376519  0.230336
b  0.681209  1.035125 -0.031160  1.939932
c -1.005187 -0.741790  0.187125 -0.732845
d -1.382920  1.482495  0.961458 -2.141212
e  0.992573  1.192241 -1.046780  1.292765

In [15]:
df['w']

a    0.386030
b    0.681209
c   -1.005187
d   -1.382920
e    0.992573
Name: w, dtype: float64