In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)

In [2]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [3]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [4]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [5]:
type(df['W'])

pandas.core.series.Series

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [8]:
df[['W','X']]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122
D  0.188695 -0.758872
E  0.190794  1.978757

In [9]:
df['new']=df['W']+df['Y']

In [10]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [11]:
df.drop('new',axis=1,inplace=True)

In [12]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [13]:
df.drop('E')

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [14]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [15]:
df.loc['C']

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [16]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [17]:
df.loc['B','Y']

-0.8480769834036315

In [18]:
df.loc['A':'B','W':'Y']

          W         X         Y
A  2.706850  0.628133  0.907969
B  0.651118 -0.319318 -0.848077

In [19]:
df.loc[['A','B'],['W','X']]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318

In [20]:
booldf=df>0

In [21]:
df[booldf]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [22]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [23]:
'CA SY NY WY GU MA'.split()

['CA', 'SY', 'NY', 'WY', 'GU', 'MA']

In [24]:
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [25]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [26]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [27]:
df=pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [28]:
df

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

In [29]:
df.loc['G1'].loc[1]

A    0.302665
B    1.693723
Name: 1, dtype: float64

In [30]:
df.index.names=['Groups','Num']

In [31]:
df

                   A         B
Groups Num
G1     1    0.302665  1.693723
       2   -1.706086 -1.159119
       3   -0.134841  0.390528
G2     1    0.166905  0.184502
       2    0.807706  0.072960
       3    0.638787  0.329646

In [32]:
df.loc['G2'].loc[2]['B']

0.07295967531703869

In [33]:
df.loc['G1']

            A         B
Num
1    0.302665  1.693723
2   -1.706086 -1.159119
3   -0.134841  0.390528

In [34]:
df.xs('G1')

            A         B
Num
1    0.302665  1.693723
2   -1.706086 -1.159119
3   -0.134841  0.390528

In [35]:
df.iloc[0]

A    0.302665
B    1.693723
Name: (G1, 1), dtype: float64

In [36]:
df.xs(1,level='Num')

               A         B
Groups
G1      0.302665  1.693723
G2      0.166905  0.184502

In [37]:
d={'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [38]:
df=pd.DataFrame(d)

In [39]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [40]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [41]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [42]:
df.fillna(value='fill value')

            A           B  C
0           1           5  1
1           2  fill value  2
2  fill value  fill value  3

In [43]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [44]:
data={'Company':['Goog','Goog','Msft','Msft','fb','fb'],
     'Person':['sam','charlie','amy','vanessa','carl','sarah'],
     'sales':[200,120,340,124,243,350]}

In [45]:
df=pd.DataFrame(data)

In [46]:
df

  Company   Person  sales
0    Goog      sam    200
1    Goog  charlie    120
2    Msft      amy    340
3    Msft  vanessa    124
4      fb     carl    243
5      fb    sarah    350

In [47]:
byComp=df.groupby('Company')

In [48]:
byComp.mean()

         sales
Company
Goog     160.0
Msft     232.0
fb       296.5

In [49]:
byComp.sum().loc['fb']

sales    593
Name: fb, dtype: int64

In [50]:
df.groupby('Company').sum().loc['fb']

sales    593
Name: fb, dtype: int64

In [51]:
df.groupby('Company').min()

          Person  sales
Company
Goog     charlie    120
Msft         amy    124
fb          carl    243

In [52]:
df.groupby('Company').describe().T

Company            Goog        Msft          fb
sales count    2.000000    2.000000    2.000000
      mean   160.000000  232.000000  296.500000
      std     56.568542  152.735065   75.660426
      min    120.000000  124.000000  243.000000
      25%    140.000000  178.000000  269.750000
      50%    160.000000  232.000000  296.500000
      75%    180.000000  286.000000  323.250000
      max    200.000000  340.000000  350.000000

In [53]:
df1=pd.DataFrame({'A':['A0','A1','A3','A4'],
                 'B':['B0','B1','B3','B4'],
                 'C':['C0','C1','C3','C4'],
                 'D':['D0','D1','D3','D4']},
                 index=[0,1,2,3])

In [54]:
df2=pd.DataFrame({'A':['A4','A5','A6','A7'],
                 'B':['B4','B5','B6','B7'],
                 'C':['C4','C5','C6','C7'],
                 'D':['D4','D5','D6','D7']},
                 index=[0,1,2,3])

In [55]:
df3=pd.DataFrame({'A':['A8','A9','A10','A11'],
                 'B':['B8','B9','B10','B11'],
                 'C':['C8','C9','C10','C11'],
                 'D':['D8','D9','D10','D11']},
                 index=[0,1,2,3])

#

In [56]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A3  B3  C3  D3
3  A4  B4  C4  D4

In [57]:
df2

    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [58]:
df3

     A    B    C    D
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

In [59]:
pd.concat([df1,df2,df3])

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1   C1   D1
2   A3   B3   C3   D3
3   A4   B4   C4   D4
0   A4   B4   C4   D4
1   A5   B5   C5   D5
2   A6   B6   C6   D6
3   A7   B7   C7   D7
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

In [60]:
pd.concat([df1,df2,df3],axis=1)

    A   B   C   D   A   B   C   D    A    B    C    D
0  A0  B0  C0  D0  A4  B4  C4  D4   A8   B8   C8   D8
1  A1  B1  C1  D1  A5  B5  C5  D5   A9   B9   C9   D9
2  A3  B3  C3  D3  A6  B6  C6  D6  A10  B10  C10  D10
3  A4  B4  C4  D4  A7  B7  C7  D7  A11  B11  C11  D11

In [61]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [62]:
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [63]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [64]:
pd.merge(left,right,how='inner',on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [65]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [66]:
pd.merge(left,right,on=['key1','key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [67]:
pd.merge(left,right,how='right',on=['key1','key2'])

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

In [68]:
pd.merge(left,right,how='outer',on=['key1','key2'])

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

In [69]:
pd.merge(left,right,how='left',on=['key1','key2'])

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

In [70]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [71]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [72]:
left.join(right,how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

In [73]:
pd.merge(left,right,how='inner',on='index')

KeyError: 'index'

In [74]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [75]:
len(df['col2'].unique())

3

In [76]:
df.col2.nunique()

3

In [77]:
df.col2.value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [78]:
df[df['col1']>2]

   col1  col2 col3
2     3   666  ghi
3     4   444  xyz

In [79]:
def times2(x):
    return x*3

In [80]:
df.col1.apply(times2)

0     3
1     6
2     9
3    12
Name: col1, dtype: int64

In [81]:
df.col3.apply(times2)

0    abcabcabc
1    defdefdef
2    ghighighi
3    xyzxyzxyz
Name: col3, dtype: object

In [82]:
df.col2.apply(lambda x:x*8)

0    3552
1    4440
2    5328
3    3552
Name: col2, dtype: int64

In [83]:
df.drop('col1',axis=1)

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [84]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [85]:
df.sort_values('col2')

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

In [86]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [87]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}
df = pd.DataFrame(data)

In [88]:
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [89]:
df.pivot_table(values='D',index=['A','B'],columns=['C'])

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN

In [90]:
pwd

'C:\\Users\\91832\\Desktop\\Corpnce'

In [91]:
data=pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [92]:
data

{'A': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'],
 'B': ['one', 'one', 'two', 'two', 'one', 'one'],
 'C': ['x', 'y', 'x', 'y', 'x', 'y'],
 'D': [1, 3, 2, 5, 4, 1]}

In [93]:
type(data)

dict

In [94]:
data[0].head()

KeyError: 0

In [95]:
from sqlalchemy import create_engine

In [96]:
engine=create_engine('sqlite:///:memory:')

In [97]:
data.to_sql('my_table',engine)

AttributeError: 'dict' object has no attribute 'to_sql'

In [98]:
data=pd.read_csv('Salaries.csv')

c:\users\91832\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [99]:
data.head(2)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

In [100]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [101]:
data['BasePay'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [102]:
type(data.BasePay)

pandas.core.series.Series

In [103]:
data.BasePay

0               167411
1               155966
2               212739
3                77916
4               134402
              ...
148649            0.00
148650    Not Provided
148651    Not Provided
148652    Not Provided
148653            0.00
Name: BasePay, Length: 148654, dtype: object

In [104]:
data['BasePay']=data['BasePay'].replace(['Not Provided'],0)

In [105]:
data.BasePay

0         167411
1         155966
2         212739
3          77916
4         134402
           ...
148649      0.00
148650         0
148651         0
148652         0
148653      0.00
Name: BasePay, Length: 148654, dtype: object

In [106]:
data.BasePay.value_counts()

0.0          879
0.00         423
54703.00     327
55026.0      297
48472.4      210
            ...
130528.83      1
118430.97      1
118436.95      1
118440.74      1
88223.95       1
Name: BasePay, Length: 109899, dtype: int64

In [107]:
data.BasePay.isna().sum()

605

In [108]:
data.BasePay.fillna(0,inplace=True)

In [109]:
data.BasePay.mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [110]:
data.BasePay.isna().sum()

0

In [112]:
data['OvertimePay'].max()

TypeError: '>=' not supported between instances of 'float' and 'str'

In [ ]:
ecom=pd.read_csv('')